* {
    margin: 0;
    font-family: "noteworthy" , monospace;
    font-size: 14px;
}
body {
    margin: auto;
    width: 960px; 
    background-color: mistyrose;
   
}
header {

text-align: center;
}
header img{
    height: 1.25in;
}

main {
   /* height: 70vh;*/
    
}
section{
    margin: 2rem 0;
}
#bio{
    display: flex;
}
.bio-image{
    height: 10rem;
    
}
#bio-choose{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-left: 1rem;
    
}
#name-date{
    display: flex;
    justify-content: space-between;
   
}
.pinkbox {
    background-color: rgba(219, 155, 219, 0.432);

   
}
#bio{
 
    
}
#tech{
    
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
figure{
    
    align-content: horizontal;
    height: 10rem;
    text-align: center;
    font-size: small;
    padding-top: 1rem;
}
figure img{
    height: 5rem;

}
#interest {
   
    padding-top: 1rem;
}


.variablesizetext {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagestyle {
  height: 10rem;
  justify-content: flex-start;
}
h3, h4, li, p {
    color: white;
}
 h2, time{
    color:  #FC8EAC;
}
figcaption{
    color: rgb(86, 86, 153);
    font-size: large;
    font-style: bold;
}

#copyright {
    color: white;
    background-color: rgba(219, 155, 219, 0.514);
}

